@tailwind base;
@tailwind components;

.input {
  @apply focus:outline-none focus:border-cyan-600 p-3 border-2  text-lg border-cyan-300 transition-colors;
}

.btn {
  @apply mt-3 text-lg font-medium text-white py-4 bg-cyan-400 hover:bg-cyan-600 transition-colors;
}
text {
  fill: #8b8b8e;
}
line {
  stroke: #8b8b8e;
}
.lineLight {
  stroke: #333336;
}
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
